hr {
    border: none;
    border-top-style: dotted;
    background-color: transparent;
    border-top-color: powderblue;
    border-top-width: 4px;
    width: 10%;
}

body {
    background-color: oldlace;
}

#money {
    border-radius: 100%;
}

#money:hover {
    border-radius: 0%;
}

body {
    margin: 0;
}

.top-container {
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
}

h1 {
    color: royalblue;
    font-size: 2.3rem;
    line-height: 2.3rem;
    font-family: 'Ink Free', serif;
}

h3 {
    color: deepskyblue;
    font-weight: lighter;
    font-size: 1.1rem;
    font-family: 'Fresca', sans-serif;
}

.middle-container {
    margin-left: 260px;
    border: solid 20px;
    width: 200px;
    height: 200px;
    background-color: azure;
}

.bottom-container {
    margin-left: 500px;
    border: solid 10px;
    width: 200px;
    height: 200px;
    background-color: beige;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
    position: relative;
    left: 198px;
    top: 200px;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
    position: relative;
    top: 100px;
    right: 5px;
}

.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    position: absolute;
    left: 0px;
}

