hr {
    border: none;
    border-top-style: dotted;
    background-color: transparent;
    border-top-color: powderblue;
    border-top-width: 4px;
    width: 10%;
}

body {
    background-color: oldlace;
}

#money {
    border-radius: 100%;
}

#money:hover {
    border-radius: 0%;
}

body {
    margin: 0;
}

.top-container {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: solid 10px;
    background-color: aliceblue;
}

.middle-container {
    margin-left: 260px;
    border: solid 20px;
    width: 200px;
    height: 200px;
    background-color: azure;
}

.bottom-container {
    margin-left: 500px;
    border: solid 10px;
    width: 200px;
    height: 200px;
    background-color: beige;
}

